@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F2F3D9;
    --foreground: #030027;
    --card: #F2F3D9;
    --card-foreground: #030027;
    --popover: #F2F3D9;
    --popover-foreground: #030027;
    --primary: #030027;
    --primary-foreground: #F2F3D9;
    --secondary: #DC9E82;
    --secondary-foreground: #030027;
    --muted: rgba(21, 30, 63, 0.1);
    --muted-foreground: #151E3F;
    --accent: #C16E70;
    --accent-foreground: #F2F3D9;
    --destructive: #EF5350;
    --destructive-foreground: #F2F3D9;
    --border: rgba(21, 30, 63, 0.1);
    --input: rgba(21, 30, 63, 0.1);
    --ring: #030027;
    --radius: 0.5rem;
  }

  .dark {
    --background: #030027;
    --foreground: #F2F3D9;
    --card: #151E3F;
    --card-foreground: #F2F3D9;
    --popover: #151E3F;
    --popover-foreground: #F2F3D9;
    --primary: #F2F3D9;
    --primary-foreground: #030027;
    --secondary: #DC9E82;
    --secondary-foreground: #030027;
    --muted: rgba(242, 243, 217, 0.1);
    --muted-foreground: #F2F3D9;
    --accent: #C16E70;
    --accent-foreground: #F2F3D9;
    --destructive: #EF5350;
    --destructive-foreground: #F2F3D9;
    --border: rgba(242, 243, 217, 0.1);
    --input: rgba(242, 243, 217, 0.1);
    --ring: #F2F3D9;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}