@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 252 98% 98%;
    --foreground: 252 10% 30%;

    --card: 252 98% 98%;
    --card-foreground: 252 10% 30%;
 
    --popover: 252 98% 98%;
    --popover-foreground: 252 10% 30%;
 
    --primary: 252 87% 59%;
    --primary-foreground: 252 98% 98%;
 
    --secondary: 252 40% 54%;
    --secondary-foreground: 252 98% 98%;
 
    --muted: 252 20% 96%;
    --muted-foreground: 252 10% 45%;
 
    --accent: 252 40% 96%;
    --accent-foreground: 252 87% 59%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 252 98% 98%;

    --border: 252 31.8% 91.4%;
    --input: 252 31.8% 91.4%;
    --ring: 252 87% 59%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid-cols-53 {
  grid-template-columns: repeat(53, minmax(0, 1fr));
}